$color-dark-gray: #333;
$color-green: #6c0;

.color {
  color: $color-green !important
}

.bg-color {
  background-color: $color-green !important
}

div#special-links-wrapper section > div a:hover {
  color: $color-green !important
}

div#news-wrapper section#last-offers > div a:hover * {
  color: #fff
}

div#offert-wrapper nav#offert-menu a.active, div#timetable-wrapper nav#offert-menu a.active {
  background-color: $color-green
}

div#offert-wrapper nav#offert-menu a:hover, div#timetable-wrapper nav#offert-menu a:hover {
  color: $color-green !important
}
