@import url('http://fonts.googleapis.com/css?family=Lato:300,400,700');

body {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
}

a, a:hover, a:active, a:focus {
  color: inherit;
  text-decoration: none;
}

.coolcard {
  border: 1px lighten($color-dark-gray, 70) solid;
  //border-radius: 3px;
  position: relative
}