@mixin input-text($text-color, $bg-color, $border-color){
    color: $text-color;
    font-size: larger;
    background-color: $bg-color;
    border: 1px solid $border-color;
    padding: 5px;
    outline: none;
}