div#news-wrapper section#last-offers > div > a {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #6c0;
  border-top: 1px solid #fff
}

div#news-wrapper section#last-offers > div > a h5 {
  line-height: 30px
}

div#news-wrapper section#last-offers > div > a h5 img {
  margin-right: 10px
}
//
//div#about-us-wrapper {
//  padding: 20px;
//  position: relative
//}
//
//div#about-us-wrapper div.media h4 {
//  font-size: 20px;
//  text-transform: uppercase
//}
//
//div#about-us-wrapper div.media div {
//  text-align: justify;
//  font-size: 14px;
//  margin: 15px auto
//}
//
//div#about-us-wrapper div.media div ul {
//  list-style-type: square;
//  margin: 10px 0 0 20px
//}
//
//div#about-us-wrapper div.media div ul li {
//  margin: 5px 0
//}
//
//div#about-us-wrapper img#about-us-left {
//  position: absolute;
//  left: 0;
//  bottom: 0
//}
//
//div#about-us-wrapper img#about-us-right {
//  position: absolute;
//  right: 0;
//  bottom: 0
//}
//
//div#contact-wrapper {
//  color: #333;
//  padding: 10px
//}
//
//div#contact-wrapper h2 {
//  color: #6c0;
//  text-transform: uppercase;
//  font-size: 2.8em
//}
//
//div#contact-wrapper > div {
//  width: 50%
//}
//
//div#contact-wrapper > div > p {
//  font-size: 1.5em
//}
//
//div#contact-wrapper > div div#phone-contact {
//  height: 103px;
//  margin: 50px 10px
//}
//
//div#contact-wrapper > div div#phone-contact div.contact-text {
//  font-size: 22px;
//  padding-left: 20px;
//  line-height: 103px
//}
//
//div#contact-wrapper > div div#address-contact {
//  height: 103px;
//  margin: 50px 10px
//}
//
//div#contact-wrapper > div div#address-contact div.contact-text {
//  font-size: 22px;
//  padding-left: 20px
//}
//
//div#contact-wrapper > div div#address-contact div.contact-text span {
//  font-size: 0.8em
//}
//
//div#contact-wrapper > div div#email-contact div.contact-text {
//  font-size: 22px;
//  padding-left: 20px
//}
//
//div#contact-wrapper > div div#email-contact div.contact-text h3 {
//  line-height: 90px
//}
//
//div#contact-wrapper > div div#email-contact div.contact-text p {
//  font-size: 16px;
//  margin-top: -30px
//}
//
//div#contact-wrapper > div div#email-form {
//  padding-top: 20px
//}
//
//div#contact-wrapper > div div#email-form div {
//  margin: 5px auto
//}
//
//div#contact-wrapper > div div#email-form label {
//  display: block;
//  float: left;
//  width: 100px;
//  text-align: right;
//  margin-right: 5px;
//  line-height: 24px;
//  font-size: 1em
//}
//
//div#contact-wrapper > div div#email-form input, div#contact-wrapper > div div#email-form textarea {
//  width: 360px;
//  resize: none;
//  font-size: 0.9em;
//  padding: 2px
//}
//
//div#contact-wrapper > div div#email-form input#email-submit-bt {
//  border: none;
//  background: none;
//  display: inline !important;
//  width: auto;
//  margin-top: -10px
//}
//
//div#timetable-wrapper div#timetable-links h4 {
//  margin-top: 10px
//}
//
//div#timetable-wrapper div#timetable-links ul {
//  margin: 20px 0
//}
//
//div#timetable-wrapper div#timetable-links ul li {
//  padding: 5px 0;
//  border-bottom: 1px solid #999;
//  border-top: 1px solid #999;
//  margin-top: -1px
//}
//
//div#timetable-wrapper div#timetable-links ul li a {
//  margin-left: 5px;
//  display: block
//}
//
//div#timetable-wrapper div#timetable-links ul li a span.label {
//  color: #fff !important
//}
