@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
* {
  margin: 0;
  padding: 0
}

a {
  color: inherit;
  text-decoration: none
}

.left {
  float: left !important
}

.right {
  float: right !important
}

.clear {
  clear: both !important
}

.bold {
  font-weight: bold !important
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 10px
}

div#wrapper {
  width: 1000px;
  margin: 0 auto
}

div#wrapper header {
  position: relative;
  height: 100px;
  margin: 50px 0
}

div#wrapper header h1 {
  font-size: 3em;
  font-weight: bold;
  line-height: 100px;
  text-align: center;
  z-index: 10
}

div#wrapper header h1 span.green-cite {
  color: #6c0
}

div#wrapper header h1 span.darkgray-cite {
  color: #333
}

div#wrapper header h1 span.blue-cite {
  color: #06f
}

div#wrapper header img {
  position: absolute;
  opacity: 0.05
}

div#wrapper header img#left-quote-mark {
  top: 20px;
  left: 40px
}

div#wrapper header img#right-quote-mark {
  bottom: 10px;
  right: 40px
}

div#wrapper section {
  margin: 80px 0
}

div#wrapper section > div {
  height: 400px;
  margin: -25px 0 0 10px;
  border-right: 1px #333 solid
}

div#wrapper section a {
  display: block;
  width: 480px;
  height: 350px;
  border-width: 5px;
  border-style: solid;
  overflow: hidden;
  position: relative;
  background-color: #FFF
}

div#wrapper section a span.menu-text {
  display: block;
  position: absolute;
  width: 300px;
  text-align: left;
  padding: 20px
}

div#wrapper section a span.menu-text span {
  display: block
}

div#wrapper section a span.title-menu-link {
  position: absolute;
  top: 10px;
  width: 320px;
  height: 120px;
  font-size: 1.6em
}

div#wrapper section a span.title-menu-link img {
  margin: 15px 20px
}

div#wrapper section a span.title-menu-link h2 {
  margin: 10px;
  color: #FFF
}

div#wrapper section a span.more-text {
  margin-top: 120px;
  font-weight: bold;
  font-size: 1.4em
}

div#wrapper section a span.description {
  font-size: 14px;
  margin-top: 70px
}

div#wrapper section a span.offert-for-text {
  font-size: 24px;
  margin-top: 10px;
  font-weight: bold
}

div#wrapper section a div.hover-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: none;
  text-align: center;
  color: white
}

div#wrapper section a div.hover-overlay > * {
  margin: 30px auto
}

div#wrapper section a div.hover-overlay h2 {
  font-size: 2em
}

div#wrapper section a div.hover-overlay div {
  overflow: hidden;
  position: relative;
  width: 247px
}

div#wrapper section a div.hover-overlay div img.animate-arrow {
  position: absolute;
  left: -142px;
  top: 39px;
  z-index: 999
}

div#wrapper section a#menu-teacher-school-link {
  border-color: #6c0
}

div#wrapper section a#menu-teacher-school-link > img {
  width: 215px;
  position: absolute;
  bottom: 0
}

div#wrapper section a#menu-teacher-school-link span.menu-text {
  text-align: right;
  right: 0
}

div#wrapper section a#menu-teacher-school-link span.title-menu-link {
  right: 0;
  background: #6c0;
  text-align: left !important
}

div#wrapper section a#menu-teacher-school-link span.more-text {
  color: #6c0;
  text-align: right
}

div#wrapper section a#menu-teacher-school-link span.description {
  padding-left: 60px
}

div#wrapper section a#menu-teacher-school-link span.offert-for-text {
  color: #6c0
}

div#wrapper section a#menu-teacher-school-link div.hover-overlay {
  background-color: #6c0
}

div#wrapper section a#menu-adult-school-link {
  border-color: #06f
}

div#wrapper section a#menu-adult-school-link > img {
  width: 180px;
  position: absolute;
  bottom: 0;
  right: 20px
}

div#wrapper section a#menu-adult-school-link span.title-menu-link {
  left: 0;
  background: #06f
}

div#wrapper section a#menu-adult-school-link span.more-text {
  color: #06f
}

div#wrapper section a#menu-adult-school-link span.description {
  padding-right: 60px
}

div#wrapper section a#menu-adult-school-link span.offert-for-text {
  color: #06f
}

div#wrapper section a#menu-adult-school-link div.hover-overlay {
  background-color: #06f
}
