.bold {
  font-weight: bold !important
}

.modal {
  z-index: 999999 !important
}

div#social-icons {
  position: fixed;
  left: 0;
  top: 200px;
  z-index: 99999
}

div#social-icons a.social-link {
  z-index: 999;
  display: block;
  clear: both;
  width: 214px;
  height: 64px;
  overflow: hidden;
  margin-left: -150px;
  line-height: 64px;
  font-size: 1.5em;
  text-align: center
}

div#social-icons a.social-link span {
  color: #fff;
  padding-right: 10px;
  font-weight: bold
}

div#slider-wrapper {
  width: 100%
}

div#slider-wrapper div#homeCarousel {
  height: 350px;
  overflow: hidden
}

div#slider-wrapper div#homeCarousel div.carousel-inner div.item > img {
  width: 1000px;
  height: 350px;
  margin: 0 auto
}

main {
  background-color: #fff;
  //margin-top: 100px;
  padding-bottom: 20px
}

#special-links-wrapper section {
  background-color: #fff;
  padding-bottom: 20px
}

#special-links-wrapper section div.thumbnail {
  //margin-left: 17px;
  height: 380px;
  position: relative
}

#special-links-wrapper section div.thumbnail > div {
  padding: 10px
}

#special-links-wrapper section div.thumbnail > div img {
  margin: 20px 0;
  height: 180px;
  width: 260px
}

#special-links-wrapper section div.thumbnail > div p {
  text-align: justify
}

#special-links-wrapper section div.thumbnail > div div.link {
  position: absolute;
  bottom: 20px;
  right: 5px;
  width: 100%
}

div#footer-wrapper {
  height: 50px;
  line-height: 50px;
  color: #fff
}
