#view-contact {
  .title {
    margin: 30px 0 60px 0
  }
  .contact-item {
    margin-bottom: 60px;

    .contact-item-text {
      margin-left: 100px;
    }
  }

  #email-form {
    input[type="text"], input[type="email"] {
      display: block;
      font-size: 1.2em;
      width: 100%;

      border: none;
      border-bottom: 1px $color-dark-gray solid;

      &:focus {
        outline: none;
        border-bottom-color: $color-green;
      }
    }

    textarea {
      display: block;
      width: 100%;
      height: 10em;
      border: 1px $color-dark-gray solid;
      resize: none;
     padding: 3px;
    }

    & form > div {
      margin: 30px 0;
    }
  }
}