#footer-wrapper {
  background-color: $color-dark-gray;
  color: white;
  padding-top: 15px;
  margin-top: 15px;

  a:hover {
    color: $color-green;
  }

  .title {
    margin-bottom: 30px;
    h4 {
      > span > span {
        font-size: larger;
        color: $color-green;
      }
    }

  }

  #services {
    text-align: center;
    .btn {
      margin-top: 15px;
    }
    section {
      margin-bottom: 30px;
    }

    #newsletter {
      input {
        @include input-text(white, $color-dark-gray, $color-green);
        width: 100%;
        height: 30px;
      }
    }
  }
}