div#top-wrapper {
  width: 100%;
  background-color: $color-dark-gray;
  color: #fff;
  font-weight: bold;
  z-index: 99999;
  padding-bottom: 15px;

  header {
    h4 > span > span {
      color: $color-green;
      font-size: larger;
    }
    .contact, .location {
      margin-left: 50px;
      line-height: 1.5em;
    }
  }
}