div#nav-wrapper {
  width: 100%;
  color: #fff;
  font-weight: bold;
  line-height: 50px;
  z-index: 9999;
  background-color: $color-dark-gray;

  &.affix {
    top: 0;
    + main {
      margin-top: 71px;
    }
  }

  #nav-scroll-title {
    display: none;
    width: 0;
    h4 {
      min-width: 280px;
      font-size: 10px;
      margin-right: 30px;
      > span > span {
        color: $color-green;
        font-size: larger;
      }
    }
  }
}

div#nav-wrapper nav a {
  display: block;
  padding: 0 15px;
  font-size: 1.4em;
  &:hover {
    color: $color-green;
  }
  &.active {
    color: $color-green;
  }
}

div#nav-wrapper nav img {
  margin-top: -5px;
  height: 1.8em
}