#news-wrapper {
  margin-top: 60px;

  header {
    margin-bottom: 30px;
  }

  .news-item {
    margin-bottom: 30px;
    border-bottom: 1px solid lighten($color-dark-gray, 70);
    padding-bottom: 15px;

    img {
      border: 2px $color-green solid;
    }

    .news-date {
      background-color: $color-green;
      padding: 10px;
      text-align: center;
      color: white;
      width: 4em;
    }

    section {
      font-size: 1.1em;
      padding-left: 6em;
    }

    footer {
      margin-top: 15px;

    }
  }

}



div#news-wrapper section#news div#newsDetailModal {
  padding: 10px
}

div#news-wrapper section#news div#newsDetailModal div.ajax-content header {
  color: #555
}