#view-offer, #view-offerDetails, #view-timetable {
  margin-top: 30px;

  #menu-offer {
    .item {
      display: block;
      padding: 10px;
      border-bottom: lighten($color-dark-gray, 70) solid 1px;

      &.active {
        //background-color: $color-green;
        color: $color-green;
        border-left: 3px $color-green solid;
        padding-left: 7px;
      }

      &:hover {
        color: $color-green;

      }
    }
  }

  #list-offer {
    .item {
      padding: 15px;
      border-bottom: lighten($color-dark-gray, 70) solid 1px;

    }
  }
}