#search-form {
  display: none;
  background-color: $color-dark-gray;
  text-align: center;
  padding: 30px 0;

  form
  {
    input, input:focus {
      width: 50%;
      height: 40px;
      font-size: larger;
      background-color: $color-dark-gray;
      border: 1px solid $color-green;
      padding: 5px;
      outline: none;
    }
  }
}
